 .homepage{
    margin: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/cover.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
 } 
 
  .featured-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 15px; 
    background-color: var( --secondary);
    padding: 10px;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .recent-post{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--secondary-color);
    border-radius: 15px; 
    background-color: var( --secondary);
    padding: 10px;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
  }
  
  .single-post{
    margin: 3.5%;
    color: var(--light);
    line-height: 1.2;
    display: flex;
    margin: 10px;
    padding: 10px;
  }

  .list-single-post{
    margin: 3.5%;
    color: var(--light);
    line-height: 1.2;
    display: flex;
    margin: 10px;
    padding: 10px;
}

  .post-list{
    border: 3px solid var(--secondary-color);
    border-radius: 15px; 
    background-color: var( --secondary);
    padding: 10px;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .post{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 100px 0 110px 0px;
  }

  .sidebar {
    position: relative;
    z-index: 1;
    height: 242px;
    margin-bottom: 100px;
    width: 3%;
    left: 90%;
    background-color: #976c43;
  }

  .sidebar.fixed {
    position: fixed;
    top: 10%;
    margin-top: 3rem;
  }
  
  .sidebar i{
    padding:0 15px;
    width: 50px;
    height: 50px;
  }

  .sidebar i:hover{
    padding: 0 10px;
    color: var(--secondary);
  }


  